<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40-client" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40-client" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40-client" />
  <package id="pythonnet_py37_win_x86" version="2.5.2" targetFramework="net40-client" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net40-client" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net40-client" />
</packages>